/config.yml
/bot.session
/YTmusicRipper.session
/.idea/
/venv/
/YTmusicRipper.session-journal
/ModuleBot.session-journal
/ModuleBot.session
/YTRipper.zip
/YTmusicRipper2.session
/YTmusicRipper2.session-journal
