/login.yml
/bot.session
/YTmusicRipper.session
/.idea/
/venv/
/YTmusicRipper.session-journal
/client_secret_500074954407-80u72ss9vffchjp0p1jd9b07n6hqn5o3.apps.googleusercontent.com.json
/client_secret_500074954407-499acvc027t93e0lqbt47btm5qblfhnj.apps.googleusercontent.com.json
/ffmpeg-2020-10-03-git-069d2b4a50-full_build/
/ffmpeg.exe
/html.txt
/client_secret_500074954407-80u72ss9vffchjp0p1jd9b07n6hqn5o3.apps.googleusercontent.com (1).json
